mixin titler(name)
    .rectangle
    p.little__title= name 

mixin processer(num, text)
    .processer
        .processer__num 
            p=num 
        .processer__text 
            p=text
mixin card(img,titl)
    .cart__icons__cart 
        img(src=img, alt="")
        p= titl