mixin titler(name)
    .rectangle.
    p.little__title.bold6= name 

mixin processer(num, text)
    .processer
        .processer__num 
            p=num 
        .processer__text 
            p=text
mixin card(img,titl,text)
    .cart__icons__cart 
        img(src=img, alt="")
        p.bold7= titl
        span.bold4= text